main {
   background-color: var(--page-bg);
}
.contact-content {
   width: 70vw;
}

.contact-title {
   font-family: var(--crimson);
   border-bottom: 2px solid lightgray;
}

.contact-content p {
   font-family: var(--inter);
   font-size: 18px;
}

.contact__icon {
   height: 30px;
}
