.navbar {
   position: relative;
   background-color: var(--modal-bg);
}

.navbar__logo {
   height: 50px;
   transform: scale(2.25);
   position: relative;
   left: 27px;
}

.navbar__title,
.nav-link {
   font-family: var(--crimson);
}
.nav-link:hover {
   color: var(--accent-3);
}

.navbar__icons {
   height: 30px;
}
