.navbar {
   position: relative;
   background-color: var(--modal-bg);
}

.navbar__logo {
   height: 50px;
   transform: scale(2.25);
   position: relative;
   left: 27px;
}

.navbar__title,
.nav-link {
   font-family: var(--crimson);
}
.nav-link:hover {
   color: var(--accent-3);
}

.navbar__icons {
   height: 35px;
   margin-right: 2px;
}
.dropdown-content {
   position: absolute;
   top: 50px;
   display: none;
   opacity: 0;
   transform: translateX(10px);
   transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar .relative .dropdown-content {
   display: block;
   opacity: 1;
   transform: translateX(0);
}

.dropdown-content {
   right: -10px;
}

.dropdown {
   z-index: 1;
}

.delogare-button {
   background-color: var(--accent-3);
   color: white;
   transition: all 300ms;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
}

.delogare-button:hover {
   background-color: var(--accent-1);
}
