h3,
p:last-of-type {
   color: var(--alt-text-clr);
}

a {
   font-family: var(--inter);
}

.footer__icon {
   height: 30px;
}

.footer {
   border-top: 2px solid lightgray;
}
.footer > div {
   width: 65vw;
}

.footer__link:hover {
   color: var(--accent-3);
   font-weight: bold;
}
