.product-price-details {
   color: var(--accent-1);
}
.add-to-cart-product {
   background-color: var(--accent-1);
   width: 250px;
   height: 50px;
   transition: all 300ms;
}
.add-to-cart-product:hover {
   color: var(--accent-1);
   background-color: var(--page-bg);
}
