.shop-filter-label {
   background-color: var(--accent-3);
}

/* Login Button */
.filter-reset {
   background-color: var(--accent-3);
   border-radius: 12px;
   transition: all 300ms;
}
.filter-reset:hover {
   color: var(--accent-3);
   background-color: #fff;
   cursor: pointer;
   border: none;
}

.shop-header {
   font-family: var(--crimson);
}

.filter-container {
   height: 525px;
   overflow-y: none;
}
